:root {
  --blue: rgb(30, 77, 146);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}



#home{
  background-color: rgb(255, 255, 255);
  height: 100vh;
  color: rgb(30, 77, 146);
  display: grid;
  place-items: center;
}

.info{
  margin:auto;
  display: grid;
  place-items: center;
  height: auto;
  width: 50vw;
  text-align: center;
  color: var(--blue)  ;
}

h1{
  font-size: 70px;
  font-weight: 700;
  color: var(--blue) ;
}

button{
  background-color: rgba(245, 222, 179, 0);
  height: auto;
  min-width: auto;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  margin: 5px;
}

a{
  text-decoration: none;
  color: inherit;
}

button:hover{
  background-color: var(--blue);
  height: auto;
  color: rgb(255, 255, 255);
  transition: all 0.2s;
  border: 1px solid var(--blue);
  border-radius: 5px;


}

label{
  margin: 20px;
}